In [ ]:
Q1. What is a database? Differentiate between SQL and NoSQL databases.
A database is an organized collection of data that can be accessed, managed, and updated. It allows users to store, retrieve, and manipulate data efficiently.

Differences between SQL and NoSQL databases:

SQL Databases:

Structured, relational databases.
Use structured query language (SQL) for defining and manipulating data.
Data is stored in tables with predefined schemas (rows and columns).
Suitable for structured data.
Examples: MySQL, PostgreSQL, Oracle.
NoSQL Databases:

Non-relational or distributed databases.
Do not use SQL as the primary query language.
Store data in various formats like key-value pairs, documents, graphs, or wide-column stores.
Suitable for unstructured or semi-structured data.
Examples: MongoDB, Cassandra, Redis.

In [ ]:
Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.
DDL (Data Definition Language) defines the structure of the database objects like tables, indexes, views, etc. It includes statements that define or modify the database schema.

CREATE: Used to create a new database or table.
sql

CREATE TABLE students (id INT, name VARCHAR(50), age INT);
DROP: Deletes a table or database along with its data.
sql

DROP TABLE students;
ALTER: Used to modify an existing table structure (e.g., adding or removing columns).
sql

ALTER TABLE students ADD COLUMN grade VARCHAR(5);
TRUNCATE: Deletes all rows from a table but keeps the structure intact.
sql

TRUNCATE TABLE students;

In [ ]:
Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.
DML (Data Manipulation Language) is used to manipulate data in the database. It includes operations like inserting, updating, and deleting records.

INSERT: Adds new records into a table.

sql

INSERT INTO students (id, name, age) VALUES (1, 'John', 20);
UPDATE: Modifies existing records in a table.

sql

UPDATE students SET age = 21 WHERE id = 1;
DELETE: Removes records from a table.

sql

DELETE FROM students WHERE id = 1;

In [ ]:
Q4. What is DQL? Explain SELECT with an example.
DQL (Data Query Language) is used to retrieve data from the database. The main DQL command is SELECT.

SELECT: Retrieves records from a database table based on specified conditions.
sql
SELECT name, age FROM students WHERE age > 18;
This query fetches the name and age of students who are older than 18.

In [ ]:
Q5. Explain Primary Key and Foreign Key.
Primary Key: A column (or set of columns) that uniquely identifies each row in a table. It must contain unique and non-null values.

Example: In a students table, id can be the primary key because each student has a unique ID.
Foreign Key: A column that establishes a link between two tables. It refers to the primary key in another table, creating a relationship between them.

Example: In an enrollments table, student_id can be a foreign key that refers to the id column of the students table.

In [ ]:
Q6. Python code to connect MySQL to Python and explain cursor() and execute() methods.
python
Copy code
import mysql.connector

# Connecting to the MySQL database
connection = mysql.connector.connect(
    host="localhost",
    user="root",
    password="password",
    database="school"
)

# Creating a cursor object
cursor = connection.cursor()

# Using the cursor to execute a query
cursor.execute("SELECT * FROM students")

# Fetching and printing the result
for row in cursor.fetchall():
    print(row)

# Closing the connection
connection.close()
cursor(): This method creates a cursor object, which is used to execute SQL queries and fetch results from the database.
execute(): Executes a SQL query passed as an argument to the method.

In [ ]:
Q7. Order of execution of SQL clauses in an SQL query:
FROM: Specifies the table to retrieve data from.
JOIN: Combines rows from multiple tables.
WHERE: Filters the rows based on a condition.
GROUP BY: Groups rows that have the same values in specified columns.
HAVING: Filters the groups based on a condition.
SELECT: Specifies the columns to return.
ORDER BY: Sorts the result set.
LIMIT/OFFSET: Limits the number of rows returned.