## Q1. Sort a list of tuples based on integer value using a lambda function

In [2]:
# Here's a Python program to sort the list of tuples by the integer value in each tuple:


# List of tuples
data = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

# Sorting the list of tuples based on the integer value
sorted_data = sorted(data, key=lambda x: x[1])

# Print the sorted list
print(sorted_data)

[('Virat Kohli', 24936), ('Jack Kallis', 25534), ('Ricky Ponting', 27483), ('Sachin Tendulkar', 34357)]

## Q2. Find the squares of all numbers in a list using lambda and map functions.

In [1]:
# Here's how you can find the squares of numbers in a list:


# List of integers
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Using map and lambda to find the squares
squares = list(map(lambda x: x**2, numbers))

# Print the list of squares
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

## Q3. Convert a list of integers into a tuple of strings using map and lambda functions

In [3]:
# Here's how you can convert each integer in the list to a string and then create a tuple:

# List of integers
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Using map and lambda to convert integers to strings
string_tuple = tuple(map(lambda x: str(x), numbers))

# Print the tuple of strings
print(string_tuple)

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

## Q4. Compute the product of a list containing numbers from 1 to 25 using reduce function

In [4]:
# For this, you'll need the reduce function from the functools module:


from functools import reduce

# List of numbers from 1 to 25
numbers = list(range(1, 26))

# Using reduce and lambda to compute the product
product = reduce(lambda x, y: x * y, numbers)

# Print the product
print(product)

15511210043330985984000000

# Q5. Filter numbers divisible by 2 and 3 using the filter function.

In [5]:
# Here's how you can filter the numbers divisible by both 2 and 3:


# List of integers
numbers = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

# Using filter and lambda to find numbers divisible by 2 and 3
filtered_numbers = list(filter(lambda x: x % 2 == 0 and x % 3 == 0, numbers))

# Print the filtered numbers
print(filtered_numbers)

[6, 60, 90, 120]

## Q6. Find palindromes in a list of strings using lambda and filter function.

In [6]:
# Here's how you can filter palindromes from a list of strings:


# List of strings
strings = ['python', 'php', 'aba', 'radar', 'level']

# Using filter and lambda to find palindromes
palindromes = list(filter(lambda s: s == s[::-1], strings))

# Print the list of palindromes
print(palindromes)

['php', 'aba', 'radar', 'level']